# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

#expo
.expo/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
*.keystore
*.pepk
googlePlayServiceAccount.json
*.der
credentials.json
google-service-account.json

# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage
testing/**/screenshots/
testing/**/videos/
testing/**/downloads/
# next.js
.next/
out/
build
*.log

# misc
.DS_Store
*.pem
lib
.runtimeconfig.json
.vscode
/runner-results
/coverage-ts

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# turbo
.turbo

# environment variables
.env.local
.runtimeconfig.json