rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {

    function userIsVerified() {
      return request.auth.uid != null && (request.auth.token.isSuperAdmin == true || request.auth.token.isAdmin == true || request.auth.token.isStaff == true);
    }

    function clientOwnsBucket(clientId) {
      return request.auth != null && request.auth.uid == clientId;
    }

    match /report_a_bug/{fileId} {
      allow write: if request.auth.uid != null;
    }
    
    match /report_a_bug_internal/{fileId} {
      allow read, write: if userIsVerified();
    }
    
    match /clients/{clientId}/{allPaths=**} {
      allow read, write: if clientOwnsBucket(clientId);
      match /patients/{patientId}/{allPaths=**} {
      allow read, write: if clientOwnsBucket(clientId);
    }
    }
  }
}
