@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-display: swap;
    font-family: 'Abside';
    src: url('/fonts/abside-regular-webfont.woff2') format('woff2'),
         url('/fonts/abside-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-display: swap;
    font-family: 'Abside Smooth';
    src: url('/fonts/abside-smooth-webfont.woff2') format('woff2'),
         url('/fonts/abside-smooth-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-display: swap;
    font-family: 'Parkinson';
    font-weight: 800;
    src: url('/fonts/parkinson-bold-webfont.woff2') format('woff2'),
         url('/fonts/parkinson-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-display: swap;
    font-family: 'Source Sans Pro';
    src: url('/fonts/sourcesanspro-regular-webfont.woff2') format('woff2'),
         url('/fonts/sourcesanspro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-display: swap;
    font-family: 'Source Sans Pro Italic';
    font-style: italic;
    src: url('/fonts/sourcesanspro-italic-webfont.woff2') format('woff2'),
         url('/fonts/sourcesanspro-italic-webfont.woff') format('woff');
    font-weight: normal;
  }

  #__next {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  ::selection {
    @apply bg-movet-red;
  }

  ::-moz-selection {
    @apply bg-movet-red;
  }

  main {
    flex: 1 1 auto;
  }

  h1 {
    @apply font-parkinson text-2xl text-center;
  }

  h2 {
    @apply text-lg font-source-sans-pro-italic uppercase mt-4 mb-2;
  }

  h3 {
    @apply font-source-sans-pro mt-4 mb-2;
  }

  p {
    @apply font-source-sans-pro;
  }
}

.firebase-emulator-warning {
  @apply hidden;
}


.react-calendar {
  width: 100%;
  max-width: 100%;
  background: white;
  font-family: 'Abside Smooth';
  line-height: 1.125em;
  @apply border-movet-black border rounded-xl p-4;
}
.react-calendar--doubleView {
  width: 700px;
}
.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}
.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}
.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}
.react-calendar button:enabled:hover {
  cursor: pointer;
}
.react-calendar__navigation {
  display: flex;
  height: 44px;
  margin-bottom: 1em;
}
.react-calendar__navigation button {
  min-width: 44px;
  background: none;
}
.react-calendar__navigation button:disabled {
  @apply bg-movet-white opacity-70;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #e6e6e6;
}
.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75em;
}
.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}
.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  font-weight: bold;
}
.react-calendar__month-view__days__day--weekend {
  @apply text-movet-red;
}
.react-calendar__month-view__days__day--neighboringMonth {
  @apply text-movet-white;
}
.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}
.react-calendar__navigation__prev2-button, .react-calendar__navigation__next2-button {
  display: none;
}
.react-calendar__tile {
  max-width: 100%;
  padding: 10px 6.6667px;
  background: none;
  text-align: center;
  line-height: 16px;
}
.react-calendar__tile:disabled {
  @apply bg-movet-white opacity-70;
}
button.react-calendar__navigation__label:disabled {
  @apply bg-white;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  @apply bg-movet-white;
}
.react-calendar__navigation__arrow {
  @apply text-3xl font-extrabold;
}
.react-calendar__tile--now {
  @apply bg-movet-tan text-white;
}
.react-calendar__tile--now:disabled {
  @apply text-movet-black;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
   @apply bg-movet-tan opacity-50;
}
.react-calendar__tile--hasActive {
   @apply bg-movet-brown text-movet-white;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  @apply bg-movet-brown;
}
.react-calendar__tile--active {
  @apply bg-movet-brown text-white;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  @apply bg-movet-brown;
}
.react-calendar--selectRange .react-calendar__tile--hover {
  @apply bg-movet-white;
}
